
<section class='chatroom' ng-controller = 'groupCtrl'>

<div class='chat-area animated fadeInUp'>
<div class='group-name-bar'>

  {{currentGroup.name}} - {{currentGroup.description}}

</div>
<section class='thread-container'>
<section class='thread-box'>

  <div id="message-box"  ng-repeat='message in currentGroup.messages track by $index'>
    {{message.user.username}}:




{{message.message}}<br>
<div class='img' ng-show = '{{message.location}}'>
<a href='{{message.location}}'><img class="img-preview" src="{{message.location}}"></a>
</div>
        <span class='delete-all-btn' ng-click='deleteMessage(message._id, currentGroup.messages.indexOf(message))'>&times;</span>

  </div>

  <!-- <div ng-repeat="image in images">
     <img ng-src="{{image.Location}}" style="max-width: 300px;">
 </div> -->





</section>
</section>
<section class='new-msg'>

  <!-- <div class='group-name'>{{currentGroup.name}}</div> -->

<form class='msg-form' onsubmit='this.reset()' ng-submit='sendMessage(threadText, currentGroup._id)'>


      <input class='msg-input' type='text' ng-model='threadText.message' ng-submit='sendMessage(threadText)' placeholder="insert text here..."class='thread-text'>


      <div class='send-btn' ng-click='sendMessage(threadText, currentGroup._id)' value='Send'>Send</div>

      <div class='file-wrapper'>

          <input type='file' name='file' fileread user='currentUser' group='currentGroup._id' ng-model='file'>
          <span class='file-btn'><i class="fa fa-paperclip"></i></span>

      </div>




</form>

</section>
<!-- <button clas='delete-btn' ng-click='deleteAll(currentGroup)'>Clear Chat</button> -->

</div>
<!-- <button class='delete-all' ng-click='deleteAll()'>Delete all</button> -->

</section>
<!-- <button class='home-btn' ui-sref='home'>Return to Homepage</button> -->

<!--
<body>


<section class='chatroom' ng-controller='chatCtrl'>
<section class='new-msg'>

  <div class='group-name'>{{group.name}}</div>

  <div form='new-thread-container'>
    <form action="">

      <input id="m" type='text' ng-model='threadText' placeholder="insert text here..."class='thread-text'>

    <div class='buttons'>
        <input type='file' ng-model='attachedFile' allow='text/*'>

        <button>Send</button>
    </div>
    </form>

  </div>


</section>

<section class='thread-container'>

  <div id="messages"></div>






</section>


    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
          var socket = io();
          $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
          });
          socket.on('chat message', function(msg){
            $('#messages').append($('<div>').text(msg));
          });
        </script>
    </section>
  </body> -->
