
<section class='chatroom'>

<section class='new-msg'>

  <div class='group-name'>{{group.name}}</div>

<form action='' onsubmit='this.reset()' ng-submit='sendMessage(threadText)'>

  <div class='new-thread-container'>

      <input id="m" type='text' ng-model='threadText.message' ng-submit='sendMessage(threadText)' placeholder="insert text here..."class='thread-text'>

    <div class='buttons'>
        <input type='file' ng-model='attachedFile' fileread allow='image/*'>

        <input type='submit' value='Send'>
    </div>

  </div>

</form>

</section>
<section class='thread-container'>
<section class='thread-box'>

  <div id="message-box" ng-repeat='message in messages track by $index'>
    {{message.user.username}}:
    {{message.message}}
    <button class='delete-all-btn' ng-click='deleteMessage(message._id, messages.indexOf(message))'>x</button>
  </div>

  <div ng-repeat="image in images">
     <img ng-src="{{image.Location}}" style="max-width: 300px;">
 </div>





</section>
<button clas='delete-btn' ng-click='deleteAll()'>Clear Chat</button>
</section>
<!-- <button class='delete-all' ng-click='deleteAll()'>Delete all</button> -->
</section>
<button class='home-btn' ui-sref='home'>Return to Homepage</button>

<!--
<body>


<section class='chatroom' ng-controller='chatCtrl'>
<section class='new-msg'>

  <div class='group-name'>{{group.name}}</div>

  <div form='new-thread-container'>
    <form action="">

      <input id="m" type='text' ng-model='threadText' placeholder="insert text here..."class='thread-text'>

    <div class='buttons'>
        <input type='file' ng-model='attachedFile' allow='text/*'>

        <button>Send</button>
    </div>
    </form>

  </div>


</section>

<section class='thread-container'>

  <div id="messages"></div>






</section>


    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
          var socket = io();
          $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
          });
          socket.on('chat message', function(msg){
            $('#messages').append($('<div>').text(msg));
          });
        </script>
    </section>
  </body> -->
