<section class='main-group-container' ng-controller='groupCtrl'>
  <section class='bottom-group-container'>

  </section>
<div class='group-header'>Find or Create a group!</div>
<input ng-hide='newGroup' class='text-input' placeholder="Search for groups..." type='text' ng-model='searchGroups'>
<button class='home-btn' ng-click='toggleGroup()' ng-show='!newGroup'>Create a Group!</button>
<form class='new-group-form' action='' onsubmit='this.reset()' ng-submit='createGroup(group)' ng-show='newGroup'>
<div>
  <input class='text-input' type='text' placeholder="Enter Group Name" ng-model='group.name'>
</div>
<div>
  <input class='text-input' type='password' placeholder='Enter Group Password' ng-model='group.password'>
</div>
<div>
  <textarea class='group-description' placeholder="Enter a short description for your group" ng-model='group.description'></textarea>
</div>
    <div class='buttons'>
      <button class='home-btn'type='submit' ng-click'createGroup(group)' >Submit Group</button>
      <button class='home-btn' ng-click='toggleGroup()'>Return to Groups</button>
    </div>
</form>
<div ng-hide='newGroup' class='group-container'>
<div ng-hide='newGroup' class='group-wrapper animated fadeIn'>
<div ng-hide='newGroup' ng-repeat='group in groups | filter: searchGroups'>


  <!-- <div class='loader' ng-show='loading' ng-init="loading = true"></div> -->

      <group group='group'></group>
</div>
</div>
</div>
<section class='bottom-group-container'>

</section>

</section>
