<div class='main-container'>
<section class='top-home-container animated fadeIn'>

NorthPoint SLC
<div class='top-home-text'>Share ideas, pictures, documents and just about anything privately with your company or groups</div>

<br>
<br>

</section>
<section class='middle-home-container'>



  <div class='middle-home-text animated fadeIn'>
    Login or Signup then join an existing group or create your own group and password.
  </div>

<br>
  <button class='home-btn' ui-sref='groups' ng-show='loggedIn'>Find or create a group!</button>


  <div ng-hide='loggedIn' class='animated fadeIn'>

    <h5 class='button-header'>Ready to Start?</h5>


          <button class='home-btn' ng-click='' ui-sref='new-user'>Create a new user</button>

          <button ng-click='' class='home-btn' ui-sref='login'>Login</button>

          <!-- <a ui-sref='{{submit.view}}'><button class='submit-btn'>Submit a file</button></a> -->

  </div>
</section>

<section class='bottom-home-container'>



</section>

</div>
