<div class='main-container'>
<section class='top-home-container'>

<h3>Welcome!</h3>
<h4>Share ideas, pictures, documents and just about anything privately with your company or groups</h4>
<br>
<br>

</section>
<section class='middle-home-container'>



  <span class='middle-home-text'>
      This website will allow you to create a user, <br>join or create a group, <br>then chat, share documents, or even share pictures with others without having to worry about who else sees them! <br>
      It's the private and simple way to communicate with files, pictures and text with anyone!
  </span>

  <div>

    <h5 class='button-header'>Ready to Start?</h5>

          <button ng-click='' ui-sref='login'>Click Here to create a user!</button>

          <button ng-click='' ui-sref='login'>Or here if you already have!</button>
          <!-- <a ui-sref='{{submit.view}}'><button class='submit-btn'>Submit a file</button></a> -->

  </div>
</section>

<section class='bottom-home-container'>



</section>

</div>
