<div class='login-container'>
  <form class='login-form' ng-submit='signIn(username, password)'>

<div>

    <h3>Login or sign up to start chatting!</h3>

</div>
  <input class='input animated bounceIn' type='text' ng-model='username' placeholder="Enter your username...">

  <input class='input animated bounceIn' type='password' maxlength="15" ng-model='password' placeholder="Enter your password...">



<div class='buttons animated bounceIn'>

  <button class='login' ng-click='signIn(username, password)'>Login</button><br>


  <button class='login' ui-sref='new-user' ng-click=''>Click Here to create a user!</button><br>

  <!-- <button class='login' ng-click='' ng-click='signIn()'><i class="fa fa-facebook-official"></i> Login with Facebook!</button> -->


</div>
</form>
</div>
