@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300%7COswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

* {
  font-family: 'Lato';
}

@keyframes fadeIn {
  from {opacity: .0;}
  to {opacity: 1;}
}

/* navbar */

#tab-links {
  text-decoration: none;
  color: white;

}

#nba {
  width: 20px;
  height: 20px;
}

.logo {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-image: url('../images/header-background.jpg');
  color: white;


}

.tab-container {
  display: flex;
  justify-content: space-around;

}

.tabs {
  margin: 10px;
  color: white;
  font-family: 'Lato';
}

/* footer */

.footer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../images/header-background.jpg');
  height: 40px;
  color: white;


}

.main-view {
  margin: 0
}



/* home-view */

.main-container {
  height: 88vh;
  background-image: url(../images/home-background.jpg);

}

.top-home-container {
  padding-top: 100px;
  text-align: center;
  height: 15vh;
  font-size: 24px;
  animation-name: fadeIn;
  animation-duration: .5s;
}

.top-home-text {
  margin: 20px;
  font-size: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.middle-home-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.login {

  margin: 5px;
  background-color: blue;
  color: white;
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;

}

/* login-view */

.login-container {
  text-align: center;
  background-image: url(../images/oldguy.jpg);
  background-size: cover;
  height: 85vh;
  width: 100%;
  color: black;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.login-form {
  background: linear-gradient(white, transparent);
  width: 100%;
  height: 100%;
}

.buttons {

  /*margin: 10px;*/
  /*display: flex;
  justify-content: center;*/
}

.text-input {
  background-color: white;
  border: 1px solid gray;
  font-size: 14px;
  border-radius: 3px;
  height: 30px;
  width: 200px;
  margin: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* groups-view */

.group-view {
  /*width: 20%;
  height: 87vh;
  text-align: center;
  background-color: white;
  border: gray solid 1px;*/
  /*display: flex;
  align-items: flex-start;*/
}

.main-group-container {
  height: 87vh;
  text-align: center;
  background-image: url(../images/group-background.jpg);
}

.group-txt {
  width: 100%;
  background-color: #71cebd;
  text-align: center;
  margin: 0;
  height: 4vh;

}


.group-filter {
  height: 4vh;
  text-align: center;
}

.group-container {
  height: 66vh;
  overflow-y: scroll;
  border: 1px gray solid;
}
.group-wrapper {
  width: 100%;
}
.new-group {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45b5b7;
}

.bottom-group-container {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45b5b7;

}
.new-group-form {
  height: 100%;
}

.group-input {
  height: 2vh;
  margin: 5px;
}

.group-header {
  font-size: 18px;
  padding: 20px;
}

.group-description {
  height: 5vh;
  width: 150px;
  margin: 5px;
}

.button {
  border-radius: 0;
  margin: 5px;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  height: 58px;
  color: black;


}

.group-desc {
  background: gray;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
}

/*.group1 {
  backgroud-color: #13bd74;
}

.group2 {
  background-color: #ef9350;
}*/


.join-btn {
  height: 100%;
  width: 150px;
  height: 60px;
  font-size: 12px;
  border: 1px solid black;
  border-left: 2px solid black;
  background: #45b5b7;
}

.loader {
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/pageloader.gif') 50% 50% no-repeat transparent;
}

.toggle {

  width: 95%;

}

/* contact-view */

.main-contact-container {

    text-align: center;
    margin: 80px;

}
.contact-info {

  margin: 10px;

}

.contact-links {
  text-decoration: none;
  color: black;
}

/* chatroom-view */

.home-btn {
  width: 200px;
  height: 40px;
  background: #45b5b7;
  border: 2px grey solid;
  border-radius: 3px;
  margin: 10px;
  animation-name: fadeIn;
  animation-duration: 3s;
  font-size: 12px;
}

.chatroom {
  display: flex;

}

.chat-area {
  width: 100%;
  height: 87vh;
  border: #3f5048 solid 4px;

}

.new-msg {
  /*display: flex;
  justify-content: flex-start;*/

  width: 100%;
  /*background: red;*/
}

.msg-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: yellow;*/
  width: 100%;
}
.msg-input {
  width: 85%;
  height: 4vh;
  border: black solid .5vh;
  padding: 0;


}
/*.file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 5%;
  background-color: #2b2a26;
  color: black;
  content: 'Upload a file!';
}*/

.file-wrapper {
  cursor: pointer;
  /*display: inline-block;*/
  margin: auto;
  overflow: hidden;
  position: relative;
  /*width: 5%;*/
}

.file-wrapper .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 18px;
  text-transform: uppercase;
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 5vh;
  border-radius: 0;
  font-size: 14px;
  background-color: #45b5b7;
  color: white;
  cursor: pointer;
}

.delete-all-btn {
  height: 100%;
  width: 20px;
  cursor: pointer;
}

.thread-text {
  width: 100%;
}

.thread-box {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  /*margin: 10px;*/
  overflow-y: scroll;

}

.thread-container {
  width: 100%;
  height: 78vh;
  /*text-align: center;*/
}

.group-name-bar {
  width:100%;
  height: 4vh;
  background-color: gray;
  color: white;
  text-align: center;
}

/*.msg-line {
  background: black;
}*/

#message-box {
  background-color: white;
  margin: 2px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.img-preview {
  height: 300px;
  width: 300px;
}


  @media only handheld and (max-width: 800px){
    .main-container {
      height: 90vh;
      font-size: 2vh;
      color: white;
    }

    /*login*/
    .login-container{
      height: 90vh;
    }
    .login-form {
      height: 80vh;
    }
    .login {
      height: 10vh;
    }
    .login-container: {
      background-position: center;
    }




    .input {
      height: 10vh;
    }
    .buttons {
      height: 10vh;
    }
    .input-form {
      height: 400px;
    }
    .top-nav-bar {
      height: 5vh;
    }
    .footer {
      height: 5vh;
    }

/*group*/

    .group {
      height: 116px;
    }

    .group-wrapper {
      width: 100%;
      background: linear-gradient(black, transparent);
    }
  }
